.caja {
  width: 300px;
  height: 300px;
  font-size: 50px;
  background-color: red;
  color: yellow;
  margin: 0.5rem;
  display:inline-block;
}

#caja-negra {
  background-color: black;
  color: white;
}